:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    // --SecondaryColor: hsl(187, 85%, 43%);
    --SecondaryColor: hsl(239, 100%, 15%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBg: rgb(255, 255, 235);
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--whiteColorDeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);

    .logo {
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: 12rem;

        .icon {
            font-size: 25px;
        }
    }

    @media screen and (max-width: 768px) {
        .navBar {
            position: absolute;
            background: var(--whiteColorDeam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.984);
            transition: 0.3s ease-in-out;

            .navLists {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: 0.5rem 0;

                .navItem {
                    padding: 0.5rem 0;

                    .navLink {
                        color: var(--textColor);
                        font-size: 0.9rem;
                        font-weight: 600;
                        text-decoration: none !important;

                        &:hover {
                            color: var(--PrimaryColor);
                        }
                    }
                }

                .btn {
                    margin-top: 1rem !important;

                    a {
                        font-weight: 600 !important;
                        color: var(--whiteColor) !important;
                    }
                }
            }

            .closeNavbar {
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--PrimaryColor);

                &:hover {
                    color: var(--SecondaryColor);
                }
            }
        }

        .activeNavbar {
            top: 7rem;
        }
    }

    .toggleNavbar {
        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
        }

        &:hover .icon {
            color: var(--SecondaryColor);
        }
    }

    .aboutDropdown {
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        display: none;
        flex-direction: column;
        background-color: var(--whiteColorDeam);
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.984);
        border-radius: 0 0 .5rem .5rem;
        padding: 1rem;
        z-index: 2000;
        width: 300px;
        cursor: pointer;
        text-align: start;

        a {
            color: black!important;
            text-decoration: none;
            padding: 0.2rem;
            font-size: 0.9rem;
            font-weight: 400;

            &:hover {
                color: var(--PrimaryColor);
            }
        }
    }

    .navItem {
        position: relative;

        &:hover .aboutDropdown {
            display: flex;
        }
    }
}

@media screen and (min-width: 769px) {

    .toggleNavbar,
    .closeNavbar {
        display: none;
    }

    .header {
        .navLists {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .navItem {
                .navLink {
                    color: var(--textColor)!important;
                    padding: 0 0.45rem;
                    font-size: 0.9rem;
                    font-weight: 500;

                    &:hover {
                        color: var(--PrimaryColor);
                    }
                }
            }

            .btn {
                margin-left: 1rem !important;

                a {
                    color: var(--whiteColor)!important;
                    font-weight: 500;
                }
            }


        }
    }
}

@media screen and (min-width: 960px) {
    .header {
        .navBar {
            .navLists {
                .navItem {
                    padding: 0 0.7rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1240px) {
    .header {
        padding: 1rem 8.5rem;
    }
}