// SCSS Code

// Section Styles
.about {
    padding-top: 5rem;

    &.section-bg {
        background-color: rgb(222, 255, 255);

    }

    // Video Box Styles
    // .video-box {
    // Add your styles for the video box here
    // }

    // Icon Boxes Styles
    .icon-boxes {
        h4 {
            font-size: 18px;
            color: #7f6d68;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 28px;
            font-weight: 700;
            color: #554945;
            margin-bottom: 15px;
        }

        .icon-box {
            margin-top: 40px;

            .icon {
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                border: 2px solid #ffcbba;
                border-radius: 50px;
                transition: 0.5s;
                background: #fff;

                i {
                    color: #ff5821;
                    font-size: 32px;
                }
            }

            &:hover {
                .icon {
                    background: #ff5821;
                    border-color: #ff5821;

                    i {
                        color: #fff;
                    }
                }
            }

            .title {
                margin-left: 85px;
                font-weight: 700;
                margin-bottom: 10px;
                font-size: 18px;

                a {
                    color: #343a40;
                    transition: 0.3s;

                    &:hover {
                        color: #ff5821;
                    }
                }
            }

            .description {
                margin-left: 85px;
                line-height: 24px;
                font-size: 14px;
            }
        }

        // Additional Icon Box Styles

    }

    // Play Button Styles
    // .play-btn {
    // Add your styles for the play button here
    // }
}